.card {
  color: #000000;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  transition: 0.4s;
  border-radius: 30px;
  margin: 20px 8px;
  max-width: 255px;
  border: 1px solid #555;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0 24px 48px 0 rgba(0, 0, 0, 0.6);
  transform: scale(1.05);
}
.card--wider{
  max-width: 300px;
}
.card__img {
  border-radius: 30px 30px 0 0;
}
.card__text-container {
  height: 177px;
  justify-content: center;
}
.card__text-container--locations{
  height: 160px;
}
.card__description,
.card__name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4px;
}

.card__name {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 19px;
}
.card__span--green {
  color: #00b100;
}
.card__span--red {
  color: #ff0000;
}
